{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "no-extra-semi": 0,
    "semi": 0,
    "object-curly-spacing": 0,
    "lines-between-class-members": 0,
    "arrow-parens": 0,
    "no-use-before-define": 0
  }
}